@charset "utf-8";
li{box-sizing: border-box;}
body{height: 3000px;}
.container {width: 1420px;margin: 0 auto;}

#header {overflow: hidden;width:100%;background: #023586;height: 90px;}
.header {width: 1440px;margin: 0 auto;position: relative;}
.header .mLeft {float: left;}
.header .mLeft li {display: inline-block;height: 90px;line-height: 90px;}
.header .mLeft li:after {content: '';display: block;border-bottom: 5px solid #fff;margin-top: -5px;transform: scaleX(0);transition: transform .25s ease-in-out;transform-origin: 0% 50%;}
.header .mLeft li:hover:after {transform: scaleX(1);}
.header .mLeft li a {color: #fff;text-transform: uppercase;font-size: 14px;font-weight: 500;padding: 0 20px;}
.header h2 {position: absolute;top: 35px;left: 580px;width: 250px;}
.header h2 img {width: 100%;}
.header .mRight {float: right;}
.header .mRight li {display:inline-block;height: 90px;line-height: 90px;}
.header .mRight li:after {content: '';display: block;border-bottom: 5px solid #fff;margin-top: -5px;transform: scaleX(0);transition: transform .25s ease-in-out;transform-origin: 0% 50%;}
.header .mRight li:hover:after {transform: scaleX(1);}
.header .mRight li a {color: #fff;text-transform: uppercase;font-size: 15px;font-weight: 550;text-align: center;padding: 0 20px;}
.header .mRight li:last-child {}
.header .mRight li:last-child img {width: 20px;height: 20px;margin-bottom: -8px}

/* slider */
#slider {position: relative;margin-bottom: 200px;}
.slick-slide{filter: brightness(70%)}
.slick-slide:hover {filter: none;}
.slider div a img {width: 100%;}
#slider .prev {position: absolute;left: 0;top: 45%;transform: translateY(-50%);}
#slider .next {position: absolute;right: 0;;top: 45%;transform: translateY(-50%);}
.slick-dots {position: relative; position: absolute;bottom: -50px;left: 50%;}
.slick-dots li {float: left;}
.slick-dots li button {width:20px; height:20px; background: #a3aab0;border-radius: 50%;border-style: none;text-indent: -9999px;margin-right: 10px}
.slick-dots li:hover button {background: #000;}
.slick-dots li.slick-active button {background: #4168a4;}

/* pb magazine */
.pbM {overflow: hidden;}
.pbM .pb {float: left;font-size: 28px;font-family: 'Red Hat Text';text-transform: uppercase;font-weight: 500;}
.pbM .showMore {float: right;font-family: 'Noto Sans KR';font-weight: 500;font-size: 15px;text-transform: uppercase;margin-top: 10px;}
.pbM .showMore:after {content: '';border-bottom: 2px solid #000;display: block;margin-top: 5px;}
.pbM ul {display: flex;flex-wrap: wrap;float: left;margin: -12px;margin-top: 40px;}
.pbM ul li {flex:0 1 33.333%;width: 33.333%;max-width: 33.333%;padding: 12px;position: relative;}
.pbM ul li > :after {background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,.5));height: 50%;display: block;content: '';position: absolute;bottom: 0;left: 0;right: 0;transition: height .3s;}
.pbM ul li:hover > :after {height: 85%;}
.pbM ul li a img {width: 100%;display: block;}
.pbM ul li .listItem {position: relative;}
.pbM ul li .listItem .itemdesc {position: absolute;bottom: 0;left: 0;padding: 24px 20px;z-index: 2;}
.pbM ul li .listItem .itemdesc a {color: #fff;}
.pbM ul li .listItem .itemdesc a h3 {font-size: 28px;margin-bottom: 20px;}
.pbM ul li .listItem .itemdesc a h3 strong {display: inline-block;}
.pbM ul li .listItem .itemdesc a h3:hover strong {border-bottom: 2px solid #fff;}
.pbM ul li .listItem .itemdesc a p span {display: inline-block;font-weight: 100;}
.pbM ul li .listItem .itemdesc a p:hover span{border-bottom: 2px solid #fff;}